* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  color: #333;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 1440px;
  height: 5023px;
  margin: 0 auto;
}

.header {
  flex: none;
  align-items: center;
  width: 1440px;
  height: 80px;
  align-self: stretch;
  flex-grow: 0;
  border: 1px solid rgb(0, 0, 0);
  align-content: space-between;
}

.headerInside {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px 32px;
  background-color: white;
  border: 1px solid saddlebrown;
  height: 24px;
  width: 1280px;
  max-width: 1280px;
  align-self: stretch;
  margin: 28px auto;
}
/*Applet*/
.icon1 {
  width: 124px;
  height: 24px;
  border: 1px solid rgb(0, 0, 0);
}

.icon1 .logo {
  position: absolute;
  width: 82px;
  height: 24px;
  left: 75px;
  top: 6px;
  margin: 23px 80px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
}

.icon1 img {
  position: absolute;
  width: 31px;
  height: 19px;
  left: 113px;
  top: 8.5px;
  bottom: 0px;
  margin: 23px 0;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Navigation*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 319px;
  height: 24px;
  min-width: 319px;
  min-height: 24px;
  border: 1px solid rgb(0, 0, 0);
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 319px;
  height: 24px;
  padding: 0;
  gap: 20px;
  flex-shrink: 0;
  border: 1px solid rgb(0, 0, 0);
}

ul li {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

ul li:nth-child(1) {
  width: 48px;
  height: 24px;
}
ul li:nth-child(2) {
  width: 64px;
  height: 24px;
}
ul li:nth-child(3) {
  width: 32px;
  height: 24px;
}
ul li:nth-child(4) {
  width: 71px;
  height: 24px;
}
ul li:nth-child(5) {
  width: 24px;
  height: 24px;
}

ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #535862;
  display: flex;
  align-items: center;
  line-height: 24px;
  width: 100%;
}

.sun {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 24px;
  min-height: 24px;
}

/*hero*/
.hero {
  width: 1440px;
  height: 800px;
  border: 1px solid rgb(0, 0, 0);
  /* margin: 0 auto; */
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  max-width: 1280px;
  width: 100%;
  height: 640px;
  margin: 80px auto;
  border: 1px solid black;
}

.text1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  width: 624px;
  height: 336px;
  z-index: 1;
}

.title {
  border: 1px solid black;
  align-self: flex-start;
  width: 768px;
  max-width: 768px;
  height: 144px;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -0.02em;
  line-height: 72px;
  color: #181d27;
  font-family: "Inter";
  font-style: normal;
}

.justP {
  align-self: flex-start;
  border: 1px solid black;
  width: 560px;
  max-width: 560px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #535862;
}

.buttons {
  align-self: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 278px;
  height: 60px;
  border: 1px solid rgb(0, 0, 0);
}

.first img {
  position: absolute;
  width: 560px;
  height: 640px;
  top: 161px;
  border-radius: 0px 64px;
  z-index: 0;
  right: 112px;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
}

.button1 {
  border: 1px solid rgb(0, 0, 0);
  background-color: #7f56d9;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  width: 146px;
  height: 60px;
  padding: 16px 22px;
  gap: 8px;
}
