* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  color: #333;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 1440px;
  height: 5023px;
  margin: 0 auto;
}

.header {
  border: 1px solid rgb(0, 0, 0);
  flex: none;
  align-items: center;
  width: 1440px;
  height: 80px;
  align-self: stretch;
  flex-grow: 0;
  align-content: space-between;
}

.headerInside {
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px 32px;
  background-color: white;
  height: 24px;
  width: 1280px;
  max-width: 1280px;
  align-self: stretch;
  margin: 28px auto;
}
/*Applet*/
.icon1 {
  border: 1px solid rgb(0, 0, 0);
  width: 124px;
  height: 24px;
}

.icon1 .logo {
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  width: 82px;
  height: 24px;
  left: 75px;
  top: 6px;
  margin: 23px 80px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.icon1 img {
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  width: 31px;
  height: 19px;
  left: 113px;
  top: 8.5px;
  bottom: 0px;
  margin: 23px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Navigation*/
nav {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 319px;
  height: 24px;
  min-width: 319px;
  min-height: 24px;
  position: relative;
}

nav ul {
  border: 1px solid rgb(0, 0, 0);
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 319px;
  height: 24px;
  padding: 0;
  gap: 18.4px;
  flex-shrink: 0;
}

ul li {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

ul li:nth-child(1) {
  width: 48px;
  height: 24px;
}
ul li:nth-child(2) {
  width: 64px;
  height: 24px;
}
ul li:nth-child(3) {
  width: 32px;
  height: 24px;
}
ul li:nth-child(4) {
  width: 71px;
  height: 24px;
}
ul li:nth-child(5) {
  width: 24px;
  height: 24px;
}

ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #535862;
  display: flex;
  align-items: center;
  line-height: 24px;
  width: 100%;
}

/*hero*/
.hero {
  border: 1px solid rgb(0, 0, 0);
  width: 1440px;
  height: 800px;
}

.first {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  max-width: 1280px;
  width: 100%;
  height: 640px;
  margin: 80px auto;
}

.text1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  width: 624px;
  height: 336px;
  z-index: 1;
}

.title {
  border: 1px solid black;
  align-self: flex-start;
  width: 768px;
  max-width: 768px;
  height: 144px;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -0.02em;
  line-height: 72px;
  color: #181d27;
  font-family: "Inter";
  font-style: normal;
  word-spacing: 19px;
}

.justP {
  border: 1px solid black;
  align-self: flex-start;
  width: 560px;
  max-width: 560px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #535862;
}

.buttons {
  border: 1px solid rgb(0, 0, 0);
  align-self: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  width: 278px;
  height: 60px;
}

.button1 {
  border: none;
  background-color: #7f56d9;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  width: 146px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05),
    inset 0px 0px 0px 1px rgba(138, 103, 214),
    inset 0px -2px 0px rgba(10, 13, 18, 0.05);
  border-radius: 10px;
  border: 1px solid rgb(138, 103, 2140);
}

.button2 {
  border: none;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #414651;
  width: 120px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05),
    inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18),
    inset 0px -2px 0px rgba(10, 13, 18, 0.05);
  border-radius: 10px;
  border: 1px solid #d5d7da;
}

.viewOffice {
  position: absolute;
  width: 560px;
  height: 640px;
  top: 161px;
  border-radius: 0px 64px;
  z-index: 0;
  right: 112px;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
}

/*About*/
.second {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  width: 1440px;
  height: 788px;
  background-color: #fafafa;
  gap: 32px;
}

.second1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  gap: 20px;
  width: 768px;
  max-width: 768px;
  height: 160px;
  min-height: 160px;
}

.who {
  border: 1px solid black;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6941c6;
}

.our {
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #181d27;
}

.whoOur {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 768px;
  height: 80px;
}

.we {
  width: 768px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #535862;
  text-wrap: balance;
}

.third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 1280px;
  padding: 0px 32px;
  gap: 64px 32px;
  width: 1280px;
  height: 372px;
}

.third figure {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 384px;
  min-width: 320px;
  height: 154px;
}

.third figcaption {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 384px;
  height: 86px;
  min-height: 86px;
}

.third figcaption p {
  border: 1px solid black;
  width: 384px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #535862;
}

/*Rating*/
.containerThird1 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;
  width: 1440px;
  height: 640px;
  background: #ffffff;
}

.third1 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1216px;
  max-width: 1216px;
  height: 448px;
  background: #53389e;
  border-radius: 24px;
}

.insideThird1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
  width: 608px;
  height: 306px;
}

.insideThird1 .rating {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 116px;
  height: 20px;
}

.insideThird1 h2 {
  border: 1px solid black;
  width: 608px;
  height: 132px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #ffffff;
  /* max-width: 608px; */
}

.p2 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 608px;
  height: 56px;
}

.hana {
  border: 1px solid black;
  width: 608px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.mark {
  border: 1px solid black;
  width: 608px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e9d7fe;
}

.woman1 {
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 480px;
  height: 448px;
  min-height: 448px;
  border-radius: 0px 24px 24px 0px;
  position: relative;
  width: 480px;
  height: 448px;
  left: 65px;
}

.forth {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;
  width: 1440px;
  height: 992px;
  background: #ffffff;
}

.forth1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 20px;
  width: 768px;
  max-width: 768px;
  height: 160px;
}

.forth2 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 768px;
  height: 80px;
}

.latest {
  border: 1px solid black;
  width: 768px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6941c6;
}

.innov {
  border: 1px solid black;
  width: 768px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #181d27;
}

.explore {
  border: 1px solid black;
  width: 768px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #535862;
}

.forth3 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 64px;
  width: 1280px;
  max-width: 1280px;
  height: 576px;
  min-height: 576px;
}

.viewButton {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 1216px;
  height: 48px;
}

.view {
  box-sizing: border-box;
  border: none;
  background-color: #7f56d9;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 168px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05),
    inset 0px 0px 0px 1px rgba(138, 103, 214),
    inset 0px -2px 0px rgba(10, 13, 18, 0.05);
  border-radius: 8px;
  border: 1px solid rgb(123, 94, 190);
}

.forth4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0px;
  gap: 48px 32px;
  width: 1216px;
  height: 464px;
}

.forth figure img {
  border: 1px solid black;
  width: 384px;
  height: 240px;
  border-radius: 16px;
}

.forth4 article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 384px;
  min-width: 320px;
  height: 464px;
  border: 1px solid black;
}

.forth4 article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

article header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 384px;
  height: 116px;
}

article header p,
article header h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 384px;
  height: 88px;
  border: 1px solid black;
}

.forth4 header h6 {
  border: 1px solid black;
  width: 384px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6941c6;
}

.hs {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 384px;
  height: 32px;
}

.hs a {
  width: 344px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #181d27;
  text-decoration: none;
}

.strike {
  border: 1px solid black;
  position: relative;
  left: 0px;
  padding: 4px 0px 0px;
  width: 24px;
  height: 28px;
}

article header p {
  width: 384px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535862;
}

.forth5 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
}
.forth5 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #181d27;
}

.forth5 time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #535862;
}

.firstArticle .forth5 p {
  width: 196px;
  height: 20px;
}

.firstArticle .forth5 time {
  width: 82px;
  height: 20px;
}

.secondArticle .forth5 p {
  width: 206px;
  height: 20px;
}

.secondArticle .forth5 time {
  width: 81px;
  height: 20px;
}

.thirdArticle .forth5 p {
  width: 250px;
  height: 20px;
}

.thirdArticle .forth5 time {
  width: 84px;
  height: 20px;
}

/*FAQ*/
.fifth {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;
  width: 1440px;
  height: 878px;
  background: #fafafa;
}

.fifth1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 768px;
  max-width: 768px;
  height: 94px;
  padding: 0px;
  margin: 0px;
}

.fifth1 h3 {
  border: 1px solid black;
  width: 768px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #181d27;
  padding: 0px;
}

.fifth1 p {
  border: 1px solid black;
  width: 768px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #535862;
}

.sixth {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 768px;
  max-width: 768px;
  height: 528px;
}

.sixthFirst {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0px;
  width: 768px;
  min-width: 320px;
  height: 108px;
}

.sixthFirst img {
  position: absolute;
  right: 336px;
  padding: 0px;
  width: 24px;
  height: 26px;
}

.sixthSecond1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 720px;
  height: 108px;
}

.sixthSecond1 h4 {
  width: 720px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #181d27;
}

.sixthSecond1 p {
  width: 720px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535862;
}

.sixthSecond {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 768px;
  max-width: 768px;
  height: 528px;
}

.sixthSecond h4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px 0px 0px;
  width: 768px;
  min-width: 320px;
  height: 52px;
  border-top: 1px solid #e9eaeb;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #181d27;
}

.sixthSecond img {
  position: absolute;
  right: 336px;
  padding: 0px;
  width: 24px;
  height: 26px;
}

.seventh0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;
  width: 1440px;
  height: 676px;
  background: #ffffff;
}

.seventh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 20px;
  width: 1280px;
  max-width: 1280px;
  height: 130px;
}

.seventh1 h4 {
  width: 768px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6941c6;
}

.seventh1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 768px;
  height: 80px;
}

.seventh1 h2 {
  width: 768px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #181d27;
}

.seventh p {
  width: 768px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #535862;
}

.eighth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1216px;
  height: 290px;
}
